/* Variables */

/* Colors */
$black: #000000;
$white: #ffffff;
$main-black: #151515;
$main-black-light: #454545;

$txt-white: #EEEEEE;
$txt-gray: #C9C9C9;
$txt-gray-darker: #B5B5B5;
$txt-placeholder: #909090;

/* Fonts */
$font-default: "Roboto", sans-serif;