@use "@/assets/scss/variables" as global_vars;

.root {
  width: 60%;
  height: 80%;
  border-radius: global_vars.$border-radius-default;
  background-color: global_vars.$main-black-light;
  padding: 3rem;

  &_loading {
    .root__inner {
      opacity: .75;
      pointer-events: none;
    }
  }


  .root_loading {

  }

  &__inner {
    display: flex;
    flex-direction: column;
    grid-row-gap: 2rem;
    height: 100%;
  }
}